/* styles.css */
.destacadas {
    padding: 20px;
    text-align: center;
}

.recetas-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.receta {
    background: white;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}

.receta img {
    width: 100%;
    /* Ajusta la imagen al ancho del contenedor */
    max-width: 300px;
    /* Tamaño máximo para evitar que sea muy grande */
    height: 200px;
    /* Altura fija */
    object-fit: cover;
    /* Mantiene la proporción sin deformarse */
    border-radius: 10px;
    /* Bordes redondeados */
    display: block;
    margin: 0 auto;
    /* Centra la imagen */
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

a {
    text-decoration: none !important;
    /* Elimina la línea debajo del enlace */
}